/*** 0.0 - general style ***/
/*** 0.1 - preset ***/
:root {
    --box-shadow-footer: rgba(99, 99, 99, 0.2) 0px -2px 8px 0px;
    --box-shadow-header: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    --card-color: rgb(245, 245, 245);
    --card-gradient-color: linear-gradient(var(--card-color), rgba(234, 234, 234, 1));
    --fade-top: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(245,245,245,0) 100%);
    --fade-bottom: linear-gradient(rgba(255,255,255,1) 0%, rgba(245,245,245,0) 100%);
    --card-transparent-color: rgba(245, 245, 245, 0.8);
    --main-font: 'Nunito', sans-serif;
    font-size: 12px;
}

.flex {
    display: flex;
}
.customer {
    text-align: left;
}
.grid {
    display: grid;
}

/*** 0.2 - general ***/
*,
*::before,
*::after {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-image: url(../images/home-screen/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    /* border: 3px dotted black; */
    /* height: 100vh; */
}

body,
body * {
    font-family: var(--main-font);
    margin: 0;

}

/*** 1.0 - top bar ***/
/*** 1.1 - logo ***/
.topbar {
    height: 56px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.topbar-head>*,
.topbar-body>* {
    margin-block: auto;
}

.topbar-head {
    background-color: var(--card-color);
    background: var(--card-gradient-color);
    border-radius: 0 0 50px 0;
    box-shadow: var(--box-shadow-header);
    gap: 2rem;
    height: inherit;
    padding-inline: 2rem;
    padding-right: 4rem;
    position: fixed;
    white-space: nowrap;
    z-index: 1;
}

.topbar-head>img {
    object-fit: scale-down;
    width: 36px;
}

/*** 1.2 - running text ***/
.topbar-body {
    background: var(--card-transparent-color);
    border-radius: 0 0 50px 0;
    box-shadow: var(--box-shadow-header);
    height: 70%;
    padding-inline: 2rem;
    width: calc(100% - 2rem);
}

/*** 2.0 - main ***/
.main {
    /* border: 1px solid black; */
    gap: 1rem;
    height: calc(100vh - (56px + 56px) - 2rem);
    margin-block: calc(56px + 1rem);
    margin-inline: auto;
    width: 1024px;
}

.main img {
    border-radius: 10px;
    width: 100%;
}

.main map {
    width: inherit;
}

.column {
    /* background-color: var(--card-color); */
    /* background: var(--card-gradient-color); */
    border-radius: 10px;
    flex-direction: column;
    gap: 1rem;
    height: inherit;
    width: 50%;
}

.middle {
    width: 100%;
    overflow-y: scroll;
}

.sub {
    align-content: start;
    background-color: var(--card-transparent-color);
    flex-direction: row;
    flex-wrap: wrap;
    overflow: scroll;
    padding: .5rem;
    width: calc(100% + 50%);
}

.small {
    width: 25%;
}

.column>* {
    background: var(--card-gradient-color);
    border-radius: 10px;
    box-shadow: var(--box-shadow-header);
}

.detail {
    background: var(--card-gradient-color);
    border-radius: 10px;
    overflow-y: scroll;
    /* padding: .5rem; */
    position: relative;
}

/*** 2.1 - sambutan ***/
.sambutan-frame {
    background: rgba(255, 255, 255, 0);
    height: fit-content;
}

/*** 2.2 - peta ***/
.peta-frame {
    height: fit-content;
    padding: .5rem;
    background: var(--card-transparent-color);
}

.peta-frame .map {
    border-radius: 10px 10px 0 0;
}

.peta-detail {
    background: var(--card-gradient-color);
    border-radius: 0 0 10px 10px;
    box-shadow: var(--box-shadow-header);
    padding-block: 1rem;
}

.peta-detail img {
    display: block;
    margin-bottom: 1rem;
    margin-inline: auto;
    width: 3rem;
}

.modal {
    overflow-y: auto !important;
    padding-bottom: 5rem !important;
}

.modal a.close-modal {
    display: none !important;
}

.nav-link {
    color: black;
}

.col-3 .active {
    color: whitesmoke;
    background: rgb(42, 84, 131) !important;
}

.detail-default p {
    color: rgba(53, 53, 53, 0.7);
    text-align: center;
    height: fit-content;
}

.wisata-kecamatan {
    padding: .5rem;
}

.wisata-kecamatan>div {
    width: 50%;
}

.wisata-kecamatan>div>h4 {
    width: fit-content;
    margin-inline: auto;
}

.wisata-kecamatan>ul {
    padding-left: 20px;
}

/*** 2.3 - berita ***/
.berita-frame {
    background: var(--card-transparent-color);
    height: 100%;
    overflow: scroll;
    padding: .5rem;
}

.berita-kota-depok {
    background: var(--card-gradient-color);
    border-radius: 10px;
    padding-block: .5rem;
}

.berita-kota-depok>h4 {
    text-align: center;
}

.berita-frame .col-md-5 {
    margin-top: 1.5rem;
}

.card {
    /* border: none; */
    background: var(--card-gradient-color);
    border-radius: 10px;
    border: none;
    box-shadow: var(--box-shadow-header);
    font-size: 1rem;
    margin-bottom: .5rem;
    padding-inline: .5rem;
}

.image-parent {
    width: 6rem;
}

.image-parent img {
    object-fit: cover;
}

/*** 2.4 - cuaca ***/
.cuaca-frame {
    background-blend-mode: overlay;
    background-image: url(/images/home-screen/background-cuaca.jpg), linear-gradient(rgba(178, 205, 228, 1),rgba(255, 255, 255, 1));
    background-position: center;
    background-size: cover;
    flex-direction: column;
    font-size: 1.5rem;
    height: 100%;
    justify-content: space-around;
    text-align: center;
}

.cuaca>img {
    margin-bottom: 2rem;
    margin-inline: auto;
    width: 60%;
}

/*** 2.5 - kontak ***/
.kontak-frame {
    align-items: center;
    background: var(--card-gradient-color);
    gap: 1rem;
    height: 100%;
    justify-content: space-around;
    padding: .5rem;
    text-align: center;
}

.kontak-frame>* {
    flex-direction: column;
    height: 100%;
    gap: 1rem;
    padding: .5rem;
    width: 100%;
    justify-content: center;
}

.customer h5 {
    text-align: center;
}

/* .kontak-frame img {
    margin-inline: auto;
    width: 2.5rem;
} */

/*** 2.6 - sub item ***/
.sub {
    flex-direction: row;
    flex-wrap: wrap;
}

.sub>.card {
    border-radius: 10px;
    box-shadow: var(--box-shadow-header);
    margin: 0;
    padding: 0;
    width: 48%;
}

.card-img {
    border-radius: 10px;
    object-fit: cover;
    height: 257px;
    width: auto;
}

.card-img-overlay {
    background: rgba(0, 0, 0, 0.616);
    border-radius: 10px;
    bottom: 0;
    color: whitesmoke;
    top: auto;
    transition: ease-in-out 250ms;
}

.card-img-overlay:hover {
    background: rgba(0, 0, 0, 0.5);
    color: white;
}

.card-img-overlay~img {
    /* object-fit: scale-down; */
    width: 100%;
    border-radius: 10px;
}

/*** 2.7 - detail item ***/
.detail>h2 {
    margin: 1rem;
}

.detail-columns {
    gap: 3rem;
    padding: 2rem;
    width: 100%;
}

.detail-columns-left {
    width: 100%;
}

.detail-columns-right {
    width: 100%;
}

.detail-columns p {
    margin-bottom: 1rem;
    padding-right: 4.5rem;
    text-align: justify;
    text-indent: 30pt;
}

.berita-header {
    margin-bottom: 1rem;
}

.table-striped td {
    word-wrap: break-word;
}

.gallery-frame {
    background: rgba(234, 234, 234, 1);
    padding: 2rem;
    text-align: center;
    padding-top: 5rem;
}

.gallery-frame>h2 {
    margin-bottom: 1rem;
}

.gallery-frame + .gallery-frame {
    padding-bottom: 10rem;
    padding-top: 0;
}

.gallery-scroll {
    gap: .5rem;
    overflow-x: scroll;
}

.gallery-scroll img {
    object-fit: cover;
    height: 136px;
    width: 17rem;
}
.gallery-scroll video {
    object-fit: cover;
    height: 136px;
    width: 17rem;
}

.carousel-inner {
    background: red;
}

.carousel-inner>img {
    width: 300px;
}

/*** 3.0 - menu ***/
.menu {
    background-color: var(--card-color);
    background: var(--card-gradient-color);
    border-radius: 30% 30% 0 0;
    bottom: 0;
    box-shadow: var(--box-shadow-footer);
    height: fit-content;
    min-height: 56px;
    position: fixed;
    width: 100%;
    transition: ease-in-out 1000ms;
}

.menu-frame {
    align-items: center;
    height: inherit;
    justify-content: space-between;
    list-style: none;
    margin-inline: auto;
    margin-top: 1rem;
    padding: 0;
    white-space: nowrap;
    width: min(90%, 720px);
}

.menu-frame a,
.menu-frame label {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.menu-icon {
    flex-direction: column;
    text-align: center;
}

.menu-icon * {
    margin-inline: auto;
    object-fit: scale-down;
    width: 2rem;
}

/*** 3.1 - dropdown ***/
.dropdown {
    height: 0px;
    list-style: none;
    padding: 0;
    text-align: center;
    transform-origin: top;
    transform: scale(1, 0);
    transition: ease-in-out 200ms;
}

.dropdown li {
    padding-block: 1rem;
}

.dropdown a {
    color: black;
    text-decoration: none;
}

.makanan-check,
.destinasi-check {
    display: none;
}

.makanan-check:checked~.dropdown,
.destinasi-check:checked~.dropdown {
    height: 100%;
    transform: scale(1, 1);
}

/*** 4.0 - responsive ***/
/*** 4.1 - handphone ***/
@media (max-width: 1024px) {
    .main {
        /* border: 1px solid black; */
        gap: 1rem;
        height: calc(100vh - (56px + 56px) - 2rem);
        margin-block: calc(56px + 1rem);
        margin-inline: auto;
        width: 768px;
    }
}

/*** 4.2 - tablet ***/
@media (max-width: 768px) {
    .main {
        /* border: 1px solid black; */
        gap: 1rem;
        height: max-content;
        margin-block: calc(56px + 1rem);
        margin-inline: auto;
        width: 360px;
        flex-wrap: wrap;
    }

    .column {
        width: auto;
    }

    .middle {
        width: auto;
    }

    .berita-frame {
        height: 100vh;
    }

    .topbar-head {
        background-color: var(--card-color);
        background: var(--card-gradient-color);
        border-radius: 0 0 0 0;
        box-shadow: var(--box-shadow-header);
        gap: 2rem;
        height: inherit;
        justify-content: space-between;
        padding-inline: 2rem;
        width: 100%;
        z-index: 1;
    }

    .topbar-body {
        display: none;
    }

    .sub>.card {
        width: 100%;
    }

    .detail-columns {
        flex-direction: column;
    }

    .detail-columns p {
        padding-right: 0;
    }

    .menu {
        border-radius: 0 0 0 0;
    }

    .wisata-kecamatan {
        flex-direction: column;
    }

    .wisata-kecamatan>div {
        width: 100%;
    }
}
.header{
	border-bottom:1px solid #ebeff2;
	padding:10px 0;
	text-align:center;
	color:#59687f;
	font-size:600;
	font-size:19px;	
	position:relative;
}
div.footer {
	text-align: right;
	position: relative;
	margin: 20px 5px;
}

div.footer a.Cbtn{
	padding: 10px 25px;
	background-color: #DADADA;
	color: #666;
	margin: 10px 2px;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
	border-radius: 3px;
}

div.footer a.Cbtn-primary{
	background-color: #5AADF2;
	color: #FFF;
}

div.footer a.Cbtn-primary:hover{
	background-color: #7dbef5;
}

div.footer a.Cbtn-danger{
	background-color: #fc5a5a;
	color: #FFF;
}

div.footer a.Cbtn-danger:hover{
	background-color: #fd7676;
}
/*** 4.3 - large screen ***/
@media (min-width: 1600px) {
    :root {
        font-size: 16px;
    }

    .main {
        height: calc(100vh - (56px + 56px) - 4rem);
        width: 1400px;
    }
}
