.pcoded .pcoded-main-container .pcoded-hasmenu .waves-dark .svg-hotel{
    fill: #37474f;
    width: 1rem;
}

.pcoded .pcoded-main-container .pcoded-hasmenu:hover .waves-dark .svg-hotel{
    fill: #fff;
}

.pcoded .pcoded-main-container .pcoded-hasmenu.active .waves-dark .svg-hotel{
    fill: #fff;
}

.pcoded .pcoded-main-container .pcodedRegistrasi .waves-dark .svg-registrasi{
    fill: #37474f;
    width: 1rem;
}

.pcoded .pcoded-main-container .pcodedRegistrasi:hover .waves-dark .svg-registrasi{
    fill: #fff;
}

.pcoded .pcoded-main-container .pcodedRegistrasi.active .waves-dark .svg-registrasi{
    fill: #fff;
}

.card-dashboard:hover{
    cursor: pointer;
}

trix-toolbar [data-trix-button-group="file-tools"]{
    display: none;
}

.modal #carouselExampleControls{
    width: 80vw;
    margin: auto;
}

.container-gambar-berita, .showImageProfilWisata{
    max-width: 40vw;
}

@media(max-width:400px){
    .modal #carouselExampleControls{
        width: 100vw;
    }

    .container-gambar-berita ,.showImageProfilWisata{
        max-width: 100%;
    }

}

